@model IEnumerable<Domain.MedicalPath>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDoctorSpace.cshtml";
}

<h2>Liste Parcour Patient</h2>


@*@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div> Serach Patient : @Html.TextBox("UserId")    </div>
            </td>

            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>
}
<script>
            var URL = window.location.href;
            var UserId = URL.split('Index/')[1];
            console.log(UserId)
            document.getElementById('UserId').setAttribute('value', UserId);
</script>*@


@*<input type="text" value="@ViewBag.UserId" id="submit" />*@
<table class="table">
    <tr>
        <th>
             @*<input type="submit" value="Search" id="submit" />*@
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateParcour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AdresseDotor)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SpecialityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model  ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateParcour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorId)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.SpecialityId)
            @*@Html.DisplayFor(@Service.ServiceSpeciality.GetNomById(modelItem => item.SpecialityId))*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicalPathId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicalPathId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicalPathId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("<- Go Back ", "listPatient")
</div>

