@model WebUI.Models.AppointmentModel

@{
    ViewBag.Title = "AddAppointment";
    Layout = "~/Views/Shared/_LayoutPatientSpace.cshtml";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Ajouter Rendez-Vous</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>
                        Jour
                    </th>
                    <th>
                        Mois
                    </th>
                    <th>
                        Année
                    </th>
                    <th>
                        Heure Disponibles
                    </th>
                    <th>
                        Ajouter Rendez-Vous
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Disponibilities)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Month)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.TimeOfDay)
                        </td>

                        <td>

                            @using (Html.BeginForm("Create", "Appointments", new { id = item.DisponibilityId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                        <!-- Date dd/mm/yyyy -->
                                <div class="form-group">
                                    <!-- /.input group -->
                                    <div class="form-horizontal" style="width:400px">
                                        <h4>Appointment</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.appointement.reason, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.appointement.reason, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.appointement.reason, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @item.DisponibilityId
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.form group -->



                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
