@model WebUI.Models.AppointmentModel

@{
    ViewBag.Title = "AddAppointment";
    Layout = "~/Views/Shared/_LayoutPatientSpace.cshtml";
}




<div class="box" style="width: 500px;">
    <div class="box-header">
       Calandier des Disponibilités
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>
                        Jour
                    </th>
                    <th>
                        Mois
                    </th>
                    <th>
                        Année
                    </th>
                    <th>
                        Heure Disponibles
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Disponibilities)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Month)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startTimeOfDisponibility.TimeOfDay)
                        </td>


                    </tr>
                }
            </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->





<h2>Ajouter Rendez-vous</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-danger"style="width:600px">
        <div class="box-header">
            <h3 class="box-title">Ajouter Motif</h3>
        </div>
        <div class="box-body">
            <!-- Date dd/mm/yyyy -->
            <div class="form-group">
             <!-- /.input group -->
                <div class="form-horizontal">
                    <h4>Appointment</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.appointement.appointementDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.appointement.appointementDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.appointement.appointementDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.appointement.reason, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.appointement.reason, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.appointement.reason, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div><!-- /.form group -->
            <!-- Date mm/dd/yyyy -->
           
            <!-- phone mask -->
            <!-- phone mask -->
          
        
        </div><!-- /.box-body -->
    </div><!-- /.box -->

  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
