@model IEnumerable<Domain.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPatientSpace.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.appointementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.appointementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentId }) |
            @Html.ActionLink("Génerer pdf", "PrintViewToPdf", new { id = item.AppointmentId })
            
        </td>
    </tr>
}

</table>
