@model IEnumerable<Domain.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPatientSpace.cshtml";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Liste de docteurs</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.firstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.distance)
                    </th>
                    <th>
                       Actions
                    </th>

                </tr>
            </thead>
            <tbody>
   @foreach (var item in Model)
   {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.distance)
                    </td>
                    <td>
                        @Html.ActionLink("Ajouter un Rendez-Vous", "AddAppointment",new{id=item.Id}) |
                        
                    </td>
                </tr>
   }
            </tbody>
         
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div> La Distance Maximale de Recherche : @Html.TextBox("SearchString")    </div>
            </td>

            <td>
                <input type="submit" value="Chehrcher" id="submit" />
            </td>
        </tr>
    </table>
}