@model Domain.Treatement

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDoctorSpace.cshtml";
}
<h2>Détails de tretement</h2>

<div>
    <h4>Treatement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuréeTretement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuréeTretement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTretement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTretement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TreatementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
