@model IEnumerable<Domain.Treatement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>list des tretements du patient </h2>





<div class="box">
    <div class="box-header">
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <div>
                    @Html.ActionLink("Go Back ", "listPatient")
                </div>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DuréeTretement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTretement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Validation)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="danger">
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td class="danger">
                            @Html.DisplayFor(modelItem => item.DuréeTretement)
                        </td>
                        <td class="danger">
                            @Html.DisplayFor(modelItem => item.DateTretement)
                        </td>
                        <td class="danger">
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td class="danger">
                            @Html.DisplayFor(modelItem => item.Validation)
                        </td>
                        <td class="danger">
                            @Html.ActionLink("Edit", "Edit", new { id = item.TreatementId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TreatementId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TreatementId })
                        </td>
                    </tr>
                }

                </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
</table>

                </table>

